.form-holder {
    margin-top: 75px;
    text-align: center;
}

.inputs .input {
  text-align: center;
}

.inputs .input input {
  height: 30px;
  width: 300px;
  margin: 5px 0;
}

.inputs .button-section {
  text-align: center;
}

.button-section {
  display: inline-flex;
  align-items: center;
  justify-content: space-evenly;
}

.register-link {
  text-decoration: none;
  color: rgb(42, 169, 10);
  margin-left: 15px;
  display: inline-block;
}

.register-link:hover {
  text-decoration: none;
  color: rgb(25, 107, 5);
  margin-left: 15px;
  display: inline-block;
}

.inputs .button-section button {
  background-color:  rgb(42, 169, 10);
  border: none;
  padding: 15px 30px;
  color: #fff;
  width: 200px;
  margin: 10px 0;
}

.inputs .button-section button:hover {
  background-color: rgb(25, 107, 5);
}
.error {
  color: red;
  width: 280px;
  margin: 5px 0;
  margin: 0 auto;
  padding: 5px;
}